*

!/pyproject.toml
!/README.md
!/uv.lock

!/stapi-fastapi/pyproject.toml
!/stapi-fastapi/README.md
!/stapi-fastapi/src/*
!/stapi-fastapi/tests/*

!/stapi-pydantic/pyproject.toml
!/stapi-pydantic/README.md
!/stapi-pydantic/src/*
!/stapi-pydantic/tests/*

!/pystapi-validator/pyproject.toml
!/pystapi-validator/README.md
!/pystapi-validator/src/*
!/pystapi-validator/tests/*
