name: "Continuous integration"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: Continuous integration
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Sync
        run: uv sync
      - name: Pre-Commit Hooks
        run: uv run pre-commit run --all-files
      - name: Test
        run: uv run pytest
      - name: Validate test server
        run: uv run scripts/validate-stapi-fastapi
      - name: Upload Validation Report
        uses: actions/upload-artifact@v4
        with:
          name: validation-report-py${{ matrix.python-version }}
          path: validation-report.html
      - name: Docs
        run: uv run mkdocs build --strict
      - name: Upload Docs
        uses: actions/upload-pages-artifact@v3
        if: ${{ matrix.python-version == '3.12' }}
        with:
          path: site/

  docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    needs: ci
    steps:
      - id: deploy
        uses: actions/deploy-pages@v4
